table#info(width="100%")
  tr(width="100%")
    td(class="l")
      form#p1(action="#")
        input#id1(class="text", type="text", name="id")
    td(class="c") versus
    td(class="r")
      form#p2(action="#")
        input#id2(class="text", type="text", name="id")
  tr#name(width="100%")
    td(class="l")
    td(class="c") name
    td(class="r")
  tr#clan(width="100%")
    td(class="l")
    td(class="c") clan
    td(class="r")
  tr#avatar(width="100%")
    td(class="l")
      img
    td(class="c") avatar
    td(class="r")
      img
  tr#signature(width="100%")
    td
    td(class="c") signature
    td
  tr#vouch(width="100%")
    td(class="l")
    td(class="c") vouched
    td(class="r")
  tr#games(width="100%")
    td(class="l")
    td(class="c") games
    td(class="r")
  tr#won(width="100%")
    td(class="l")
    td(class="c") won
    td(class="r")
  tr#winpct(width="100%")
    td(class="l")
    td(class="c") win %
    td(class="r")
  tr#left(width="100%")
    td(class="l")
    td(class="c") left
    td(class="r")
  tr#leave(width="100%")
    td(class="l")
    td(class="c") leave %
    td(class="r")
  tr#kills(width="100%")
    td(class="l")
    td(class="c") kills
    td(class="r")
  tr#deaths(width="100%")
    td(class="l")
    td(class="c") deaths
    td(class="r")
  tr#assists(width="100%")
    td(class="l")
    td(class="c") assists
    td(class="r")
table#top(width="100%")
  tr
    td(align="center", colspan="2")
      b top 15 lookups
  tr
    td(class="l") id
    td(class="r") name

script(type='text/javascript', src="js/index.js")
