html
  head
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.5.min.js")
    script(type="text/javascript", src="js/socket.io.min.js")
    link(rel="stylesheet", href="css/style.css")
    title Dotalicious Gaming player statistics comparer
  body
  != body

